@import "@styles/constants";

.section {
    background-color: $color-cream;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vw;
    padding: 2vw 4vw;

    @media (max-width: 1110px) {
        grid-template-columns: 1fr;
    }
}
