@import '@styles/constants';

.whatsapp_button {
    position: fixed;
    width: 3.75rem;
    height: 3.75rem;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: $color-green-light;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
}
