@import '@styles/constants';

.introWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-red;
    padding-top: 20vh;
    padding-bottom: 15vh;
    text-align: center;
    width: 100%;

    .headline {
        color: $color-cream;
        font-family: $font-heading;
        font-size: clamp(3rem, 3.5vw, 3.5vw);
        line-height: 1.2;
        text-transform: uppercase;
    }
}
