@import "@styles/constants";

.illustrationContainer {
    position: relative;
    z-index: 10;
    background-color: $color-cream;

    .illustration {
        margin-top: -3vh;
        margin-bottom: -6vh;
        width: 100%;
    }
}
