@import "@styles/constants";

.section {
    background-color: $color-cream;
    padding: 0 6vw;
    padding-bottom: 6vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1110px) {
        flex-direction: row;
    }
}

.presents {
    max-width: 30%;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1110px) {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    img {
        margin-top: 2rem;
        max-width: 100%;

        @media (max-width: 1110px) {
            margin: 0 auto;
            display: block;
        }
    }
}

.sponsors {
    .logos {
        flex-wrap: wrap;
        column-gap: 5%;
    }

    a {
        max-width: 15%;
        display: block;

        @media (max-width: 1110px) {
            max-width: 45%;
        }

        img {
            width: 100%;
        }
    }
}

.partners {
    flex-grow: 1;

    .logos {
        column-gap: 3%;
        flex-wrap: wrap;
    }

    a {
        max-width: 9%;
        display: block;
        margin-top: 3vh;

        @media (max-width: 1110px) {
            max-width: 30%;
        }

        img {
            width: 100%;
        }
    }
}

.footer {
    display: flex;
    gap: 5rem;
}

.madeBy {
    a {
        max-width: 300px;

        img {
            width: 100%;
        }
    }
}

.entity {
    a {
        display: block;
        max-width: 300px;

        @media (max-width: 1110px) {
            max-width: 100px;
        }

        img {
            width: 100%;
        }
    }
}
