@import "@styles/constants";

.section {
    background-color: $color-cream;
    padding: 0 6vw;
    padding-bottom: 6vw;
}

.container {
    display: flex;

    @media (max-width: 1110px) {
        flex-direction: column;
    }

    & .container {
        @media (max-width: 1110px) {
            flex-direction: row;
        }
    }
}

.sponsors {
    .container {
        flex-wrap: wrap;
        column-gap: 5%;
    }

    a {
        max-width: 16%;
        display: block;

        @media (max-width: 1110px) {
            max-width: 45%;
        }

        img {
            width: 100%;
        }
    }
}

.partners {
    margin-top: 5vh;
    flex-grow: 1;

    .container {
        column-gap: 3%;
        flex-wrap: wrap;
    }

    a {
        max-width: 10%;
        display: block;
        margin-top: 3vh;

        @media (max-width: 1110px) {
            max-width: 30%;
        }

        img {
            width: 100%;
        }
    }
}

.madeBy {
    margin-top: 5vh;

    a {
        max-width: 600px;

        img {
            width: 100%;
        }
    }
}
