@import "@styles/constants";

.section {
    background-color: $color-green;
    position: relative;
    padding: 4vw;
}

.title {
    font-family: $font-heading;
    text-transform: uppercase;
    color: $color-cream;
    font-size: clamp(2.5rem, 5vw, 7vw);
    padding: 3vh 5vw;

    @media (min-width: 1110px) {
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        position: absolute;
        left: 3vw;
        bottom: -20px;
        padding: 0;
    }
}

.container {
    margin-left: 7vw;

    @media (max-width: 1110px) {
        margin: 0 3vw;
    }
}

.subscribe {
    margin-top: 2.5rem;
    color: $color-yellow;
    position: relative;
    font-size: clamp(1rem, 3.5vw, 1.5vw);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 110px;

    img {
        position: absolute;
        bottom: -120px;
        left: 0;
    }
}
